.linha{
    display: flex;
    flex-direction: row;    
}
.coluna, .col-titulo {
    width: 20%;
    margin: 1px;
    padding: 1px;
}
.col-titulo {
    text-align: center;
    font-weight: bold;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
 table, .tabela {
    width: 50%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: linear-gradient(90deg, rgba(159,153,255,1) 0%, rgba(93,209,246,1) 35%, rgba(174,255,249,1) 89%);
}
.md-80 {
    width: 83.5%;
}
.md-20 {
    width: 20%;
}
td, th, .coluna, .col-titulo {
    border: 2px solid rgb(0, 0, 0);
}
.coluna {
    font-style: italic;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
td {
font-style: italic;
font-family:Verdana, Geneva, Tahoma, sans-serif
}